services:
  - type: web
    name: telegram-leech-bot
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    disk:
      name: downloads
      mountPath: /app/downloads
      sizeGB: 10
