services:
  - type: web
    name: wzml-leech-bot
    runtime: docker
    plan: free
    startCommand: python3 app.py
    envVars:
      - key: API_ID
        value: "2819362"
      - key: API_HASH
        value: "578ce3d09fadd539544a327c45b55ee4"
      - key: BOT_TOKEN
        value: "8390475015:AAF8dauJYTWFwktTQABzG17_-JTN4r71R3M"
      - key: PORT
        value: "10000"
